body{
  background: #e8e8e8;
}
.box {
  padding: 20px;
  background-color: white;
  color: black;
}
.graph{
  margin-top: 8px;
  margin-bottom: 8px;
}
.active-graph{
  margin-top: 8px;
  margin-bottom: 8px;
  border: 3px solid blue;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  #navi-bar {
    background-color: #44bcc9 !important;
            }
}
#navi-header{
    background-color: #44bcc9;
    border: 5px solid #44bcc9;
    color: white;
}
#box-header{
    color: #44bcc9;
}
footer {
background-color: grey;
border-top-style: solid;
border-top-width: 5px;
border-top-color: #44bcc9;
color: white;
min-height: 50px;


text-align: center;

left: 0;
bottom: 0;
width: 100%;
padding-top: 15px;
}
